# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next/
out/

# Environment variables
.env.local
.env.*.local

# Vercel
.vercel/

# Editor settings
.DS_Store
.idea/
.vscode/
*.swp

# Optional: MacOS & system files
Thumbs.db
